<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Spectrum One Coding Activity</title>

    {% load static %}

    {# JS #}
    {% include 'cdn/js/jquery.html' %}
    {% include 'cdn/js/bootstrap.html' %}
    <script src="{% static 'authentication/js/login.js' %}"></script>


    {# CSS #}
    {% include 'cdn/css/bootstrap.html' %}
    {% include 'cdn/css/font-awesome.html' %}
    {% include 'cdn/css/admin-lte.html' %}
    <link rel="stylesheet" href="{% static 'authentication/css/login.css' %}"/>


    {# Font #}
    {% include 'cdn/font/source-sans-pro.html' %}
</head>

<body class="hold-transition login-page">

<div class="login-box">

    {# Company logo  #}
    <div class="login-logo">
        <i class="fa fa-film fa-2x" aria-hidden="true"></i>
        <br/>
        Movies
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form id="login-form" method="POST">

            <div class="alert alert-warning" id="login-warning">
                Invalid username or password!
            </div>

            <div class="alert alert-success" id="login-success">
                Sign in success!
            </div>

            {# Email #}
            <div class="form-group has-feedback">
                <input id="username" type="text" class="form-control" placeholder="Username" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            {# Password #}
            <div class="form-group has-feedback">
                <input id="password" type="password" class="form-control" placeholder="Password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            {% csrf_token %}

            <button type="submit" class="btn btn-default btn-block">Sign In</button>

        </form>

    </div>

</div>

</body>

</html>
