<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{% block title %}{% endblock %}</title>


    {# JS #}
    {% include 'cdn/js/jquery.html' %}
    {% include 'cdn/js/bootstrap.html' %}
    {% include 'cdn/js/admin-lte.html' %}

    {# Custom JS #}
    {% block js %}
    {% endblock %}


    {# CSS #}
    {% include 'cdn/css/bootstrap.html' %}
    {% include 'cdn/css/font-awesome.html' %}
    {% include 'cdn/css/admin-lte.html' %}

    {# Custom CSS #}
    {% block css %}
    {% endblock %}


    {# Font #}
    {% include 'cdn/font/source-sans-pro.html' %}
</head>


<body class="hold-transition skin-green layout-top-nav">

<div class="wrapper">

    <header class="main-header">

        <nav class="navbar navbar-static-top">

            <div class="container">

                <div class="navbar-header">

                    <a href="/" class="navbar-brand"><i class="fa fa-film" aria-hidden="true"></i></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li><a href="/">Movie List</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'movies:add' %}">Add Movie</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'authentication:logout' %}">
                                    <i class="fa fa-sign-out"></i>&nbsp;
                                    Log out</a></li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">
                                    <i class="fa fa-sign-in"></i>&nbsp;
                                    Log in</a></li>
                            <li>
                                <a href="{% url 'register' %}">
                                    <i class="fa fa-user-plus"></i>&nbsp;
                                    Register</a></li>
                        {% endif %}

                    </ul>
                </div>

            </div>

        </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->

            {% block alert %}
            {% endblock %}

            <section class="content-header">
                <h1>
                    {% block navtitle %}{% endblock %}
                </h1>

            </section>

            <!-- Main content -->
            <section class="content">

                {% block content %}{% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

</body>
</html>
