{% extends 'movies/layout.html' %}
{% load static %}


{% block js %}
    {% include 'cdn/js/datatables.html' %}
    <script src="{% static 'movies/js/list.js' %}"></script>
{% endblock %}


{% block css %}
    {% include 'cdn/css/datatables.html' %}
    <link rel="stylesheet" href="{% static 'movies/css/list.css' %}"/>
{% endblock %}


{% block title %}{% block navtitle %}Movie List{% endblock %}{% endblock %}

{% block content %}
    <div class="box box-default">

        <div class="box-header with-border">

            <h3 class="box-title">&nbsp;</h3>
            <div class="box-tools pull-right">

                <a href="{% url 'movies:add' %}" class="btn btn-box-tool" type="button">
                    <i class="fa fa-plus-square fa-2x"></i> &nbsp;
                    <span class="btn-box-tool-desc">Add</span>
                </a>
            </div>
        </div>

        <div class="box-body">

            {# Movies list #}
            <table id="movies-list">
                <thead>
                <th>Title</th>
                </thead>

                <tbody></tbody>

                <tfoot>
                <th>Title</th>
                </tfoot>

            </table>
        </div>
    </div>
{% endblock %}