{% extends 'authentication/layout.html' %}
{% load static %}


{% block title %}Register{% endblock %}


{% block js %}
    <script src="{% static 'common/js/forms.js' %}"></script>
    <script src="{% static 'authentication/js/register.js' %}"></script>
{% endblock %}

{% block content %}

    <input type="hidden" id="check-username-url" value="{% url 'authentication:check-username' %}"/>


    <p class="login-box-msg">Register a new account</p>

    <div class="alert alert-error" id="register-error">
        Registration cannot be completed at the moment. Please try again.
    </div>

    <div class="alert alert-success" id="register-success">
        Registration successful! Proceed to <a href="/">movie list</a>.
    </div>

    <form id="register-form" method="POST">

        {# Username #}
        <div class="form-group has-feedback">
            {{ form.username }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span class="help-block"></span>
        </div>

        {# Password #}
        <div class="form-group has-feedback">
            {{ form.password1 }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span class="help-block"></span>
        </div>

        {# Confirm password #}
        <div class="form-group has-feedback">
            {{ form.password2 }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span class="help-block"></span>
        </div>

        {% csrf_token %}

        <button type="submit" class="btn btn-default btn-block">Register</button>

    </form>

    <p class="auth-alternative-option">
        Already registered? <a href="{% url 'login' %}">Log in</a>
    </p>

{% endblock %}